/*  debuggers */
.red {
  border: 2px solid red;
}
.green {
  border: 2px solid green;
}
.blue {
  border: 2px solid blue;
}

.color {
  color: #69245183;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  position: relative;
}

html.dark::before,
html.light::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* Original */

/* html.dark {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/binding_dark.png");
}

html.light {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/squairy_light.png");
}

html.dark::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.224) 0%,
    rgba(0, 0, 0, 0.285) 100%
  );
}

html.light::before {
  background: linear-gradient(180deg, rgb(144, 144, 144));
  background: linear-gradient(180deg, rgb(55, 55, 55));
} */

/* Test */

html.dark::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.224) 0%,
    rgba(0, 0, 0, 0.285) 100%
  );
}
html {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/binding_dark.png");
}
