/* agbalumo */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo");

/*  debuggers */
.red {
  border: 2px solid red;
}
.green {
  border: 2px solid green;
}
.blue {
  border: 2px solid blue;
}

.color {
  color: #69245183;
}

*,
*::before,
*::after {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swftMini {
  font-family: "Agbalumo", system-ui !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  position: relative;
}

html.dark::before,
html.light::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

html.light::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.224) 0%,
    rgba(0, 0, 0, 0.255) 100%
  );
}
html.dark::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.264) 0%,
    rgba(0, 0, 0, 0.285) 100%
  );
}

html.dark {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/geometry2.png");
  --swftLight: #000;
  --swftReverseLight: #fff;
}

html.light {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/binding_dark.png");
  --swftLight: #fff;
  --swftReverseLight: #000;
}

/* html.dark {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/gravel.png");
} */

html.light,
html.dark {
  /* background-size: contain; */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
}
